<!DOCTYPE html>
<html lang="sl">
  <head>
    <meta charset="utf-8">
    <title>Bencin, dizel, kurilno olje - cene naftnih derivatov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nafta, bencin, 95-oktanski, 98-oktanski, dizel, dizl, diesel, kurilno olje, zgodovina, statistika, cena, trošarina, davek" />

    <!--
    <PageMap>
        <DataObject type="document">
            <Attribute name="title">Cene naftnih derivatov</Attribute>
            <Attribute name="author">Vol00har</Attribute>
            <Attribute name="description">Cene bencina in ostalih naftnih derivatov</Attribute>
            <Attribute name="last_update">3/11/2013</Attribute>
        </DataObject>

  </PageMap>
  -->
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/custom.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="./assets/ico/favicon128.png">
    <link rel="apple-touch-icon-precomposed" sizes="64x64" href="./assets/ico/favicon64.png">
    <link rel="apple-touch-icon-precomposed" href="./assets/ico/favicon48.png">
    <link rel="shortcut icon" href="./assets/ico/favicon.png">

      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
          google.load("visualization", "1", {packages:['corechart', 'annotatedTimeLine', 'controls', 'table']});
          google.setOnLoadCallback(risi);

          function risi()
          {
            var data_json = {{ data_json }}
            var data = new google.visualization.DataTable(data_json);

            {% if subpage == "/" %}

            var options =
            {
              isStacked: true,
              title: 'Deleži cene v EUR',
              colors: ['#3366CC', '#16CE1C', '#7517CC', '#DC3912', '#FF9900'],
              hAxis: {title: 'Derivat', titleTextStyle: {color: 'gray'}}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('graf'));
            chart.draw(data, options);

            {% elif subpage == "/napoved" %}

            var data = new google.visualization.DataTable(data_json);

            var row = {{ napoved_cene[2] }}

            if (row > 5)
            {

                var total_columns = data.getNumberOfColumns();

                for (var i = 0; i < total_columns; i++)
                {
                    data.setProperty(row, i, 'style', 'border-bottom: 3px solid black;')
                    data.setProperty({{napoved_cene[3]}}, i, 'style', 'border-bottom: 3px solid black;')
                }
            }

            // Create and draw the visualization.
            var table = new google.visualization.Table(document.getElementById('line'));
            var options =
            {
                allowHtml: true,
                showRowNumber: true,
                sortAscending: false,
                sortColumn: 0
            };
            var format_options =
            {
                width: 100,
                colorNegative: 'green',
                colorPositive: 'red',
                max: 5,
                min: -5
            };
              var formatter = new google.visualization.BarFormat(format_options);
              formatter.format(data, 2); // Apply formatter to second column

              table.draw(data, options);


            {% elif subpage == "/casovno" %}

            var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));

            var control = new google.visualization.ControlWrapper({
                 'controlType': 'ChartRangeFilter',
                 'containerId': 'control',
                 'options': {
                   // Filter by the date axis.
                   'filterColumnIndex': 0,
                   'ui': {
                     'chartType': 'AreaChart',
                     'chartOptions': {
                       'chartArea': {'width': '74%'},
                       'hAxis': {'baselineColor': 'none'}
                     },
                     // Display a single series that shows the closing value of the stock.
                     // Thus, this view has two columns: the date (axis) and the stock value (line series).
                     'chartView': {
                       'columns': [0, 1]
                     },
                     // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                     'minRangeSize': 86400000
                   }
                 },
                 // Initial range: 2012-02-09 to 2012-03-20.
                 'state': {'range': {'start': new Date(2012, 10, 1), 'end': new Date(2014, 6, 1)}}
               });

               var chart = new google.visualization.ChartWrapper({
                 'chartType': 'AreaChart',
                 'containerId': 'chart',
                 'options': {
                      title: 'Cene in trošarine čez obdobje',
                      hAxis: {title: 'Čas',  titleTextStyle: {color: '#333'}},
                      vAxis: {minValue: 0, maxValue: 2}
                 }
                });





            dashboard.bind(control, chart);
            dashboard.draw(data);



            {% elif subpage == "/podrobno" %}

            // Define a category picker control for the Gender column
            var categoryPicker = new google.visualization.ControlWrapper({
              'controlType': 'CategoryFilter',
              'containerId': 'dropdownlist',
              'options': {
                'filterColumnLabel': 'Derivat',
                'ui': {
                'labelStacking': 'vertical',
                  'allowTyping': false,
                  'allowMultiple': false
                }
              }
            });

            categoryPicker.setState({'selectedValues': ['Dizel']});

            // Define a Pie chart
            var pie = new google.visualization.ChartWrapper({
              'chartType': 'PieChart',
              'containerId': 'tortica',
              'options': {
                'width': 600,
                'height': 300,
                'title': 'Donuts eaten per person',
                'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
                'pieSliceText': 'label',
                slices: {  3: {offset: 0.2},
                        4: {offset: 0.3}
              }
              },
              // Instruct the piechart to use colums 0 (Name) and 3 (Donuts Eaten)
              // from the 'data' DataTable.
              'view': {'columns': [0, 2]}
            });

            // Create a dashboard
            var a = new google.visualization.Dashboard(document.getElementById('torta')).bind(categoryPicker, pie).draw(data);

            {% endif %}

          }

      function drawAnnotated() {
      // Create and populate the data table.

          //var JSONdata = {{ JSONtemperatura }}
          //var data = new google.visualization.DataTable(JSONdata);

          // Create and draw the visualization.
          //var neki = new google.visualization.AnnotatedTimeLine(document.getElementById('line'));

          //neki.draw(data, {'displayAnnotations': true});
    }
      </script>
  </head>
    <body>
        <div class="container-narrow">
        <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li{% if subpage == "/" %} class=active{% endif %}><a href="/">Derivati</a></li>
            <li{% if subpage == "/casovno" %} class=active{% endif %}><a href="casovno">P(t)</a></li>
            <li{% if subpage == "/podrobno" %} class=active{% endif %}><a href="podrobno">Derivati podrobno</a></li>
            <li{% if subpage == "/napoved" %} class=active{% endif %}><a href="napoved">Napoved</a></li>
            <li{% if subpage == "/oblikovanje" %} class=active{% endif %}><a href="oblikovanje">Oblikovanje cen</a></li>
            <!-- <li{% if subpage == "/naroci" %} class=active{% endif %}><a href="naroci">Obveščanje</a></li> -->
        </ul>
        <br />
        <br />
        <h2 class="muted">CENE NAFTNIH DERIVATOV</h2>
        <h3 class="muted">bencin, dizel, kurilno olje</h3>
        </div>
        <hr id="head_separator">
      <ul id="lala">
      {{ krneki_horiz }}
      </ul>
      <br />
      <div id="bla">
      Zadnja sprememba <b>{{ datum.strftime('%d. %m. %Y') }}</b> ob <b>{{ datum.strftime('%H:%M') }}</b>
      </div>

      <hr>

      {% if subpage == "/" %}

      <div id="graf" class="jumbotron">
      </div>

      <div class="row-fluid marketing">
        <div class="span6">
            <h4>Zadnja sprememba</h4>
            <p>
            {{ krneki }}
            </p>
        </div>
        <div class="span6">
          <h4>Povzeto po</h4>
          <p>
          <a href="http://www.mgrt.gov.si/si/delovna_podrocja/notranji_trg/sektor_za_preskrbo_nadzor_cen_in_varstvo_konkurence/cene_naftnih_derivatov/">mgrt.gov.si</a>
          </p>

        </div>
      </div>

      {% elif subpage == "/oblikovanje" %}

      <a href="http://www.uradni-list.si/1/objava.jsp?urlid=201276&stevilka=2979">link1</a>   <br />
      <a href="http://www.uradni-list.si/1/content?id=96714">link2</a> <br />

      <img alt="enacba" src="http://latex.codecogs.com/gif.latex?P_t=\Bigg\[\Bigg(\frac{\sum_{i=1}^{n}CIFMedH_i%20\cdot%20e_i}{n}%20\cdot%20\frac{\rho}{1000}\Bigg)\Bigg\]" /> <br />

      {% elif subpage == "/podrobno" %}

      <div id="torta">
      <div id="dropdownlist"></div>
      <div id="tortica"></div>

      </div>

      {% elif subpage == "/casovno" %}

        <div id="dashboard">
        <div id="chart" style='width: 915px; height: 300px;'></div>
        <div id="control" style='width: 915px; height: 50px;'></div>
    </div>

      {% elif subpage == "/napoved" %}
        Cena v prejsnjem obdobju: <b>{{ napoved_cene[0] }}</b> <br />
        Cena v prejsnjem obdobju: <b>{{ napoved_cene[1] }}</b>
        <div id="line"></div>
        {{ payload }}
      {% endif %}


      <hr>

      <div class="footer">
        <p>&copy; Miha 2013
          <img style="float: right;" src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif"
               alt="Powered by Google App Engine" />         </p>
      </div>
    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/bootstrap-transition.js"></script>
    <script src="./assets/js/bootstrap-alert.js"></script>
    <script src="./assets/js/bootstrap-modal.js"></script>
    <script src="./assets/js/bootstrap-dropdown.js"></script>
    <script src="./assets/js/bootstrap-scrollspy.js"></script>
    <script src="./assets/js/bootstrap-tab.js"></script>
    <script src="./assets/js/bootstrap-tooltip.js"></script>
    <script src="./assets/js/bootstrap-popover.js"></script>
    <script src="./assets/js/bootstrap-button.js"></script>
    <script src="./assets/js/bootstrap-collapse.js"></script>
    <script src="./assets/js/bootstrap-carousel.js"></script>
    <script src="./assets/js/bootstrap-typeahead.js"></script>
    -->

  </body>
</html>